.contests-main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1280px; /* For larger screens, add a max-width */
  margin-left: auto;
  margin-right: auto;
  
}

.main-box-heading {
  margin-bottom: 20px;
  margin-top: 20px;
}

.content-box {
  overflow-y: auto;
  scrollbar-width: none;
  height: 100%;
  margin-bottom: 30px;
  
}

.list-item {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.216);
}

.resource-icon {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  /* margin-left: 10px; */ /*icon adjust*/
}

.filter-box {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 557px) {
    .contests-main-box {
        transform: scale(0.9);
        margin-top: 0px;
    }
    .main-box-heading {
        
        margin-top: 0px;
      }
      .list-item {
       
        grid-template-columns: 2fr 4fr 2fr;
  
      }
      .filter-box {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the content horizontally */
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;  /* Allow wrapping of items */
        gap: 20px;
      }
      .filter-box button {
        margin-top: 0px;  /* Ensure space between dropdown and button */
        
        font-size: small;
        
        max-width: 250px;  /* Optional: Add a max-width for the button */
        width: 100%;  /* Ensure the button takes full width on mobile */
        align-items: center; /* Center the content horizontally */
        margin-left: auto;
        margin-right: auto;
      }
     
}