.contests-main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 100%;
}

.main-box-heading{
    margin-bottom: 20px;
    margin-top: 20px;
}
.content-box{
    overflow-y: auto;
    scrollbar-width: thin;
    height: 100%;
    margin-bottom: 30px;
    margin-right: 10px;
}
.list-item{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    padding: 10px 10px;
    gap: 30px;
    
    
}
.resource-icon{
    height: 28px;
    width: 28px;
    border-radius: 50%;
}