.main-box{
    margin: 1rem;
    padding: 1rem;
}

.leetcode-main {
    display: flex;
    justify-content: center;
    gap:20px;
    padding: 10px;
}

.leetcode {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.leetcode h2 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
}

.leetcode p {
    font-size: 0.75rem;
    color: #555;
}

/* Responsive styles */
@media (max-width: 768px) {
    .leetcode {
        width: 100%; /* Full width on tablets and smaller devices */
    }
}

@media (max-width: 480px) {
    .leetcode {
        padding: 15px; /* Reduced padding for smaller screens */
    }

    .leetcode h2 {
        font-size: 1.2rem; /* Slightly smaller text for compact layout */
    }

    .leetcode p {
        font-size: 0.9rem;
    }
}
