.left-nav-bar {
    position: fixed;
    height: 100vh;
    width: 84px;
    background: #18181B; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    z-index: 2000; /* Ensure it stays above other components */
}

.left-nav-bar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 0px;
}

.left-nav-bar img {
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

/* Tooltip styling */
.nav-item::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 110%; /* Move the tooltip further out from the left nav */
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
    margin-left: 10px;
    font-size: 12px;
    pointer-events: none;
    z-index: 3; /* Make sure it shows above other elements */
}

.nav-item:hover::after {
    opacity: 1;
    visibility: visible;
}

i {
    color: #848382;  /* Gold color */
    font-size: 30px;  /* Set the icon size */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for icons */
i:hover {
    color: #ffffff;  /* Slightly darker gold on hover */
    transform: scale(1.1); /* Slightly larger on hover */
}
@media screen and (max-width: 557px) {
    .left-nav-bar {
        display: none;
    }
}
