.board-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
}

.lower-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  border-radius: 14px;
  margin: 1rem 1rem 1rem 1rem;
}
.coding-platform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 685px) {
  .upper-board {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
  }
}

@media screen and (max-width: 999px) {
  .board-container{
    flex-direction: column;
  }
}
@media screen and (max-width: 508px) {
    .coding-platform{
        padding: 20px;
    }
    .lower-board{
        flex-direction: column;
    }
    .board-container {
      gap: 60px; 
    }
}

@media screen and (max-width: 384px) {
    .lower-board{
      flex-direction: column;
    }
}

