.top-nav{
    position: fixed;
    height: 61px;
    display: flex;
    width: calc(100% - 84px);
}
.space{
    width: 162px;
    background: #FF6700;
}
.right-side{
    display: flex;
    flex: 1;
    background: #18181B;
    box-shadow: 0px 1px 0px 0px #12203B17;
}
.search-box{
    width: 70%;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.top-menu{
    display: none;
    flex-direction: row;
    justify-content: flex-start;
}

.top-menu ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.top-menu img{
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding: 10px;
}
.search-box input{
    width: 70%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E4E4E7;
    border-radius: 10px;
    padding: 0 10px;
}

.profile-box{
    width: 30%;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 30px;
}




.notification-panel {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 250px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 1000;
  }
  
  .notification-panel h3 {
    margin: 0 0 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  .notification-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .notification-panel li {
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
  }
  
  .notification-panel li:last-child {
    border-bottom: none;
  }

  .icon-button{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    box-shadow: none;
}


@media screen and (max-width: 1042px){
    .space{
        width: 10%;
    }
    
}
@media screen and (max-width: 557px){
    .top-nav{
        width: 100%;
    }
    .search-box{
        display: none;
    }
    .top-menu{
        display: flex;
    }
    .profile-box{
        width: 100%;
        justify-content: flex-end;
    } 
}