.total-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 0px #00000005;
  width: 328px;
  height: 169px;
  border-radius: 14px;
}
.icon {
  background: #f6700026;
  border-radius: 50%;
  width: 84.31px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contest-number {
    font-family: Barlow;
    font-size: 46px;
    font-weight: 700;
    line-height: 55.2px;
    text-align: left;
    color: #464255;

}
.head-p{
font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: left;
color: #464255;

}
